# PyWebTransport MkDocs Configuration

site_name: PyWebTransport
site_description: An async-native WebTransport stack for Python.
site_url: https://docs.pywebtransport.org
repo_url: https://github.com/lemonsterfy/pywebtransport
repo_name: lemonsterfy/pywebtransport
copyright: Copyright &copy; 2025 lemonsterfy

theme:
  name: material
  logo: assets/favicon.svg
  favicon: assets/favicon.svg

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue-grey
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue-grey
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - content.code.copy
    - content.code.annotate
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - toc.follow

nav:
  - Home: index.md
  - API Reference:
      - Overview: api-reference/index.md
      - Client: api-reference/client.md
      - Server: api-reference/server.md
      - Connection: api-reference/connection.md
      - Session: api-reference/session.md
      - Stream: api-reference/stream.md
      - Messaging: api-reference/messaging.md
      - Manager: api-reference/manager.md
      - Configuration: api-reference/config.md
      - Events: api-reference/events.md
      - Serializer: api-reference/serializer.md
      - Exceptions: api-reference/exceptions.md
      - Types: api-reference/types.md
      - Constants: api-reference/constants.md
      - Utils: api-reference/utils.md

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: google
            show_symbol_type_heading: true
            show_root_heading: true
            show_source: false
            show_root_full_path: false
            show_object_full_path: false
            show_category_heading: false
            separate_signature: true
            docstring_section_style: table
            members_order: source
            show_signature_annotations: false
            show_bases: false
            unwrap_annotated: true
            merge_init_into_class: false
            show_if_no_docstring: false
            filters:
              - "!^_"

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - toc:
      permalink: true
